<div class="side-header">
  <div class="user-name">
    <a href="###">MARINA</a>
  </div>
  <div class="create-room-btn">
    <a href="###">チャットを作成する</a>
  </div>
</div>

<div class="side-contents">
  <div class="chatroom-index">
    <div class="room-name">
      <a href="###">テストチャット１</a>
    </div>
  </div>
  <div class="chatroom-index">
    <div class="room-name">
      <a href="###">テストチャット２</a>
    </div>
  </div>
</div>