<div class="side-bar">
  <div class="side-header">
    <a href="#" class="user-name">MARINA</a>
    <a href="##" class="create-room-btn">チャットを作成する</a>
  </div>
  <div class="side-contents">
    <div class="side-content">
      <a href="###" class="chatroom-index">テストチャット1</a>
      <a href="####" class="chatroom-index">テストチャット2</a>
    </div>
  </div>
</div>
