.wrapper{
  display: flex;
}

.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.main-chat{
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
}

/***************
サイド画面
***************/
.side-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room-btn a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.side-contents{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll
}

.chatroom-index{
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

/***************
メイン画面
***************/
.main-header{
  height: 100px;
  padding: 0 40px;

  background-color: #FFFFFF;

  display: flex;
  justify-content: space-between;
}

.room-name{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.room-delete-btn{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px ;
  margin-top: calc(40px - 20px);
  align-items: center;
  text-decoration: none;
}

.chat-message-index{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.new-message{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}